$cor-preto: #260e02;           // Preto estilizado, para textos/detalhes fortes
$cor-preto-escuro: #44250d;    // Fundo escuro principal
$cor-dourado-claro: #b3a692;   // Destaques, botões e links
$cor-dourado-suave: #614122;   // Texto secundário, bordas e hover
$cor-texto-claro: #ffeed3;     // Texto sobre fundos escuros
$cor-fundo-secao: #301705;     // Fundo de seções/cards mais suaves
$cor-neutro: #614122;          // Neutro para bordas/fundos secundários
$cor-hover: #44250d;           // Hover em botões/cards
